numpy<2.0.0
pandas>=1.5.0
nltk>=3.8
spacy>=3.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
flask>=2.0.0
scikit-learn>=1.0.0
